
p {
    font-family: 'Chillax-Variable';
};
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(0,0,0,.6);
    position: relative;
    background-color: #1B4965;

    @include mobile-only{
    .logo{
        max-width: 20%;
        margin: 0.5rem;
    }

    }

    

}


.logo{
    max-width: 10%;
    margin: 0.5rem;
}


//FORM
:root {
	--color-white: #ffffff;
	--color-light: #f1f5f9;
	--color-black: #121212;
	--color-night: #001632;

	--color-red: #f44336;
	--color-blue: #1a73e8;
	--color-gray: #80868b;
	--color-grayish: #dadce0;

	--shadow-normal: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
		0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
		0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

html {
	font-size: 100%;
	font-size-adjust: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	list-style: none;
	list-style-type: none;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	color: var(--color-black);
	background: var(--color-light);
}

a,
button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	text-decoration: none;
}

img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}

// Components
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80rem;
	min-height: 100vh;
	width: 100%;
	padding: 0 2rem;
	margin: 0 auto;
}



.text {
	font-family: inherit;
	line-height: inherit;
	text-transform: unset;
	text-rendering: optimizeLegibility;

	&-large {
		font-size: 2rem;
		font-weight: 600;
		color: var(--color-light);
	}

	&-normal {
		font-size: 1rem;
		font-weight: 400;
		color: var(--color-black);
	}

	&-links {
		font-size: 1rem;
		font-weight: 400;
		color: var(--color-light);

		&:hover {
			text-decoration: underline;
		}
	}
}

// Main
.main {
    background-image: url(../img/background-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	.wrapper {
		max-width: 28rem;
		width: 100%;
		margin: 2rem auto;
		padding: 2rem 2.5rem;
		border: none;
		outline: none;
		border-radius: 0.25rem;
		color: var(--color-black);
		background: rgba(0, 0, 0, 0.5);
		box-shadow: var(--shadow-large);
    @include mobile-only{
      width: 70%;

    }

		.form {
			width: 100%;
			height: auto;
			margin-top: 2rem;

			.input-control {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 1.25rem;
			}

			.input-field {
				font-family: inherit;
				font-size: 1rem;
				font-weight: 400;
				line-height: inherit;
				width: 100%;
				height: auto;
				padding: 0.75rem 1.25rem;
				border: none;
				outline: none;
				border-radius: 2rem;
				color: var(--color-black);
				background: var(--color-light);
				text-transform: unset;
				text-rendering: optimizeLegibility;
			}

			.input-submit {
				font-family: inherit;
				font-size: 1rem;
				font-weight: 500;
				line-height: inherit;
				cursor: pointer;
				min-width: 40%;
				height: auto;
				padding: 0.65rem 1.25rem;
				border: none;
				outline: none;
				border-radius: 2rem;
				color: var(--color-white);
				background: #1B4965;
				box-shadow: var(--shadow-medium);
				text-transform: capitalize;
				text-rendering: optimizeLegibility;
			}
		}

		.striped {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 1rem 0;

			&-line {
				flex: auto;
				flex-basis: auto;
				border: none;
				outline: none;
				height: 2px;
				background: var(--color-grayish);
			}

			&-text {
				font-family: inherit;
				font-size: 1rem;
				font-weight: 500;
				line-height: inherit;
				color: var(--color-light);
				margin: 0 1rem;
			}
		}

		.method {
			&-control {
				margin-bottom: 1rem;
			}

			&-action {
				font-family: inherit;
				font-size: 0.95rem;
				font-weight: 500;
				line-height: inherit;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: auto;
				padding: 0.35rem 1.25rem;
				outline: none;
				border: 2px solid var(--color-grayish);
				border-radius: 2rem;
				color: var(--color-black);
				background: var(--color-white);
				text-transform: capitalize;
				text-rendering: optimizeLegibility;
				transition: all 0.35s ease;

				&:hover {
					background: var(--color-light);
				}
			}
		}
	}
}
// success checkmark

//succesfull login

.method-control h3{
    color: #D9E5EE;
    margin-bottom: 20px;
}

.method-control p{
    color: #a1110b;
    margin-bottom: 20px;
}

 .success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
    
    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid  rgba(110, 249, 115, 0.5);
        
        &::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }
        
        &::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }
        
        &::before, &::after {
            content: '';
            height: 100px;
            position: absolute;
            background: transparent; ;
            transform: rotate(-45deg);
        }
        
        .icon-line {
            height: 5px;
            background-color:  rgb(99, 225, 103);
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;
            
            &.line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }
            
            &.line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        }
        
        .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid  rgb(99, 225, 103);;
        }
        
        .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
            background-color: transparent;
        }
    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}


.flex{
    display: flex;
    align-items: center;
    text-align: start;
}
a { color: white; text-decoration: none; }

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

// snow animation

.snow {
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
  }


  .snow:nth-child(1) {
    opacity: 0.6064;
    transform: translate(56.5936vw, -10px) scale(0.1606);
    animation: fall-1 22s -16s linear infinite;
  }
  @keyframes fall-1 {
    34.585% {
      transform: translate(57.9903vw, 34.585vh) scale(0.1606);
    }
    to {
      transform: translate(57.29195vw, 100vh) scale(0.1606);
    }
  }
  .snow:nth-child(2) {
    opacity: 0.0623;
    transform: translate(38.6106vw, -10px) scale(0.3982);
    animation: fall-2 17s -21s linear infinite;
  }
  @keyframes fall-2 {
    70.443% {
      transform: translate(37.0175vw, 70.443vh) scale(0.3982);
    }
    to {
      transform: translate(37.81405vw, 100vh) scale(0.3982);
    }
  }
  .snow:nth-child(3) {
    opacity: 0.7242;
    transform: translate(18.1453vw, -10px) scale(0.9984);
    animation: fall-3 10s -24s linear infinite;
  }
  @keyframes fall-3 {
    71.78% {
      transform: translate(22.1161vw, 71.78vh) scale(0.9984);
    }
    to {
      transform: translate(20.1307vw, 100vh) scale(0.9984);
    }
  }

/* section 1 */
.section-1{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 60px ;
    padding-bottom: 0px;
     
    @include tablet-only {
        align-items: flex-start;

    };
    @include mobile-only {
        font-size: small;
        flex-direction: column-reverse;
        align-items: center;
    };
//   slideshow
  .slide-show{
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    @include tablet-only {
        width: 100%;
        padding: 10px;
    };
    @include mobile-only {
        width: 100%;

    };
     

  }
  .description{
    max-width: 50%;
    text-align: start;
    margin-left: 15px;
    @include tablet-only {
        max-width: 100%;
        padding: 10px;
        margin-bottom: 35px;
    };
    @include mobile-only {
        max-width: 100%;
        padding: 10px;
    };

  }
  .blue-button{
    background-color: #1B4965;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 15px;
    margin-right: 15px;
    @include tablet-only {
      padding: auto;
      font-size: smaller
    };
  }

}


.margin{
    margin: 0;
    margin-top: 20px;
}
@keyframes slideAnimation {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .looper {
    width: 100%;
    overflow: hidden;
  }
  
  .looper__innerList {
    display: flex;
    justify-content: center;
    width: fit-content;
  }
  
  .looper__listInstance {
    display: flex;
    width: max-content;
  
    animation: slideAnimation linear infinite;
  }
  .looper__innerList[data-animate="true"] .looper__listInstance {
    animation: slideAnimation linear infinite;   
  }
  
  .looper__listInstance {
    display: flex;
    width: max-content;
  
    animation: none;
  }

#scroll-container {
    border-top: 2px solid rgb(239, 239, 239);
    border-bottom: 2px solid rgb(239, 239, 239);
    padding: 7px;
    overflow: hidden;
    color: rgb(239, 239, 239);
    background-color: #a1110b;
    position: relative;
    bottom: 0px;
    width: 100%;
    @include tablet-only {
      bottom: auto;
      top: 0px;
    };

    @include mobile-only {
      position: absolute;
      top: 70px;
    };
  }
  

  
  #scroll-text {
    background-repeat: repeat;
    text-align: right;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;

  
    /* animation properties */
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(-100%); }
    to { -moz-transform: translateX(100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }


// CHECKBOX NEWSLETTER

.newsletter{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    label{
        color: whitesmoke !important;
        font-size: 20px;
        font-weight: bold;
    }

}
//footer
.footer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #1B4965;
    color: white;

    img{
    margin: auto;
    width: 200px;
    padding: 20px;
    @include mobile-only {
        width: 100%;
    };
    }


    p{
        color: rgb(213, 213, 213);
        margin: 10px;
        font-size: small;
    }
}


.slide-show{
  img{
    border-radius: 20px;
  }
}

.carousel .control-next.control-arrow {
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px;
}
.carousel .control-prev.control-arrow {
  border-top-left-radius: 20px; 
  border-bottom-left-radius: 20px;
}


